:host {
  font-family: Roboto, sans-serif;
}

.spacer {
  height: 100vh;
  width: 200vw;
}

.highlight {
  background: yellow;
}

.large-element {
  background: palegreen;
  min-height: 200vh;
}

.scrollable {
  height: 200px;
  overflow: auto;
}

.scrollable .inside-scrollable {
  background-color: blueviolet;
  color: white;
}

.scrollable .inside-scrollable.sn-viewport-in {
  background-color: yellow;
  color: black;
}

.fixed-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 120px;
  background-color: rgba(red, 0.1);
  border-bottom: 2px solid rgba(aqua, 0.5);

  p {
    text-align: right;
  }
}
